<!--路径-->
<div class="nav">
	<span>首页</span>
	<span><img src="../../images/background/rightCusp.png" alt=""></span>
	<span>展示大厅</span>
	<span><img src="../../images/background/rightCusp.png" alt=""></span>
	<span>供需信息</span>
	<span><img src="../../images/background/rightCusp.png" alt=""></span>
	<span>需求详情</span>
</div>

<!--内容详情-->
<div class="contentInfo needDetails">
	<div class="progress">
		<div class="sui-steps-round steps-round-auto">
			<div class="current">
				<div class="wrap step1">
					<div class="round">1</div>
					<div class="bar"></div>
				</div>
				<label>&nbsp;&nbsp;发布</label>
			</div>
			<div class="current">
				<div class="wrap step2">
					<div class="round">2</div>
					<div class="bar"></div>
				</div>
				<label>开始报名</label>
			</div>
			<div class="current">
				<div class="wrap step3">
					<div class="round">3</div>
					<div class="bar"></div>
				</div>
				<label>报名截止</label>
			</div>
			<div class="current">
				<div class="wrap step4">
					<div class="round">4</div>
					<div class="bar"></div>
				</div>
				<label>&nbsp;&nbsp;筛选</label>
			</div>
			<div class="current last">
				<div class="wrap step5">
					<div class="round">5</div>
				</div>
				<label>&nbsp;&nbsp;实施</label>
			</div>
		</div>
		<div class="times">
			<!-- <div class="time">2016-11-16</div>
			<div class="time">2016-11-16</div>
			<div class="time">2016-11-16</div>
			<div class="time">2016-11-16</div>
			<div class="time">2016-11-16</div> -->
		</div>
	</div>
	<div class="details">
		<div class="introduction">
			<!-- <div class="ct1">
				<h2>大客户管理系统建设</h2>
				<div class="needing">需 求</div>
				<div class="fee">¥3,000,000</div>
			</div>
			<div class="ct2">
				<span>上海科技技术有限公司</span>
				<img src="../../images/front/certificationBlue.png" alt="企业认证" />
				<img src="../../images/front/phoneMakeSureBlue.png" alt="手机认证" />
				<img src="../../images/front/emailAuthentication.png" alt="邮箱认证" />
				<span>酬金已托管</span>
			</div>
			<div class="ct3">
				报名人数：<span>111人</span> 发布于 <span>2016/11/15</span>
			</div> -->
		</div>
		<div class="title">
			<div class="circle "></div>
			需求描述
		</div>
		<div class="needDetailsInfo"></div>
		<div class="title">
			<div class="circle "></div>
			附件
		</div>
		<div class="enclosure">
			<!-- <div class="enclosures">
				<img src="resources/images/front/enclosure.png" alt="链接" />
				<div class="download fl">
					<a href="">下载</a>
				</div>
				<div data-url="" class="preview fr">预览</div>
			</div> -->
		</div>
	</div>
	<div class="comments">
		<div class="title">
			<div class="circle"></div>评论(<span id="commentNum"></span>)
		</div>
		<div class="commentArea">
		</div>
	</div>
</div>
<script id="demandDetail_times_tmplate" type="text/x-jquery-tmpl">
								<div class="time">${auditDatetime}</div>
                				<div class="time">${auditDatetime}</div>
                				<div class="time">${projColseDate}</div>
                            	<div class="time">${finishDate}</div>
								<div class="time">${undertakeDatetime}</div>
</script>
<script id="demandDetail_introduction_tmplate" type="text/x-jquery-tmpl">
			<div class="ct1">
				<h2>${projName}</h2>
				<div class="needing">需 求</div>
				<div class="fee">¥${projServiceFee}</div>
			</div>
			<div class="ct2">
				<span>${companyName}</span>

				{{if $data.isAuthentication==0}}
                    <img src="../../images/front/identityAuthentication.png" alt="身份认证"/>
				{{else}}
					<img src="../../images/front/identityAuthenticationGray.png" alt="身份认证"/>
				{{/if}}
				{{if $data.userMobile!=null}}
                    <img src="../../images/front/phoneMakeSureBlue.png" alt="手机认证"/>
				{{else}}
					<img src="../../images/front/phoneMakeSureGray.png" alt="手机认证"/>
				{{/if}}
                    <img src="../../images/front/emailAuthentication.png" alt="邮箱认证"/>

				{{if $data.isFeeTrusteeship==0}}
                    <span>酬金已托管</span>
				{{else}}
					<span>酬金未托管</span>
				{{/if}}
			</div>
			<div class="ct3">
				报名人数：<span>${enrollCount}人</span> 发布于 <span>${auditDatetime}</span>
			</div>
							
</script>
<script id="demandDetail_enclosure_tmplate" type="text/x-jquery-tmpl">
				{{if  $data.projAttachFile!=null}}
				<div class="enclosures">
                    <img src="resources/images/front/enclosure.png" alt="链接"/>
                    <div class="download fl"><a href="${projAttachFile}">下载</a></div> |
                    <div data-url="${projAttachFile}" class="preview fr">预览</div>
                </div>
				{{/if}}
</script>
<script id="demandDetail_commentArea_tmplate" type="text/x-jquery-tmpl">	
				<div class="box">
                    <div class="box1">
                        <span class="commentName">${userAlias}</span>
                        <span class="commentTime">${evaluateTime}</span>
                    </div>
                    <div class="box2">${evaluateValue}</div>
                </div>
</script>
<script type="text/javascript" src="../../js/background/backDemandDetail.js"></script>